

#search-form{
  min-width:80vw;
  min-height:30px;
}

#search-form > input{
  min-width:85%;
  min-height:100%;
  
  padding:10px
}


#search-form > button{
  min-width:13%;
  font-size:16px;
  font-weight:600;
  padding:8px;
}

.modal-overlay{
  position: absolute;
  min-height: 100%;
}


#search-res,
#search-res > *
{
  min-width: 75vw;
}

#search-res{
  border: .1rem solid var(--text-color-blk);
}


.drop-down-itm{
  color: var(--text-color-blk);
  font-size:30px;
  width:100%;
}

.drop-down-itm:hover{
  background-color: var(--text-color-blk);
  color: white;
}